html {
	background-color:rgb(255,100,100);
}

body {
	font-family:"Raleway";
	font-size:14pt;
}

p {
	padding-left:4.0em;
	width:54%;
	text-indent:1em;
}

h1 {
	font-family:"Raleway";
	font-size:30pt;
	width:58%;
	border-bottom:0.1em solid black;
}

mh {
	font-familiy:"Raleway";
	font-size:17pt;
	font-weight:bold;
}

table.main {
	border-collapse: separate;
	border-spacing: 4em 1em;
	text-align:center;
}

table.main tr th thead {
	font-size:bold;
}

table.main tr td tbody {
	font-size:normal;
}